Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

azure-pipelines/fiskaltrust.Middleware.Queue.yml:
  jobs:
  - job: Test
    displayName: Unit and integration tests
    pool:
      vmImage: $(vmImageName)
    steps:
    - template: templates/queue/test.template.yml
  - job: AcceptanceTest
    dependsOn: Test
    displayName: Acceptance tests
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:
  jobs:
  - job: Test
    displayName: Unit and integration tests
    pool:
      vmImage: $(vmImageName)
    steps:
    - template: templates/scu-de/test.template.yml
  - job: BuildNugetPackages
    displayName: Build v1 NuGet packages
    dependsOn:
    - Test
    condition: succeeded()
    pool:
  ...

Added basic unit tests for InMemorySCU
  scu-at/fiskaltrust.Middleware.SCU.AT.sln
  scu-at/test/fiskaltrust.Middleware.SCU.AT.InMemory.UnitTest/InMemorySCUTests.cs
  scu-at/test/fiskaltrust.Middleware.SCU.AT.InMemory.UnitTest/Usings.cs
  scu-at/test/fiskaltrust.Middleware.SCU.AT.InMemory.UnitTest/fiskaltrust.Middleware.SCU.AT.InMemory.UnitTest.csproj
Due: none

Added coverlet
  scu-at/fiskaltrust.Middleware.SCU.AT.sln
  scu-at/test/Directory.Build.props
  scu-at/test/fiskaltrust.Middleware.SCU.AT.InMemory.UnitTest/fiskaltrust.Middleware.SCU.AT.InMemory.UnitTest.csproj
Due: none

Enabled Austrian bootstrapper with FF
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/SignProcessorAT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/fiskaltrust.Middleware.Localization.QueueAT.csproj
  queue/src/fiskaltrust.Middleware.Queue/Bootstrapper/LocalizedQueueBootStrapperFactory.cs
  queue/src/fiskaltrust.Middleware.Queue/fiskaltrust.Middleware.Queue.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added Directory.Build.props
  scu-at/Directory.Build.props
  scu-at/fiskaltrust.Middleware.SCU.AT.sln
  scu-at/src/fiskaltrust.Middleware.SCU.AT.InMemory/Directory.Build.props
Due: none

Changed BC reference
  scu-at/Directory.Build.props
  scu-at/src/fiskaltrust.Middleware.SCU.AT.InMemory/fiskaltrust.Middleware.SCU.AT.InMemory.csproj
Due: none

Fixed build props
  scu-at/Directory.Build.props
  scu-at/src/fiskaltrust.Middleware.SCU.AT.InMemory/Directory.Build.props
  scu-at/src/fiskaltrust.Middleware.SCU.AT.InMemory/ScuBootstrapper.cs
Due: none

Added version.json
  scu-at/src/fiskaltrust.Middleware.SCU.AT.InMemory/version.json
Due: none

Added JournalProcessorFR
  queue/src/fiskaltrust.Middleware.Contracts/Constants/JournalTypes.cs
  queue/src/fiskaltrust.Middleware.Contracts/Repositories/IMiddlewareRepository.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueFR/ArchiveProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueFR/Helpers/ConversionHelper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueFR/Helpers/CsvHelper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueFR/Helpers/FileHelper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueFR/JournalProcessorFR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueFR/Repositories/JournalFRRepositoryRangeDecorator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueFR/fiskaltrust.Middleware.Localization.QueueFR.csproj
  queue/src/fiskaltrust.Middleware.Storage.Azure/Repositories/AzureQueueItemRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added missing reference
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/fiskaltrust.Middleware.Queue.AzureTableStorage.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/fiskaltrust.Middleware.Queue.PostgreSQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/.nuspec
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added JournalProcessAT
  queue/src/fiskaltrust.Middleware.Contracts/Constants/JournalTypes.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/Helpers/FileHelper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/JournalProcessorAT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueFR/JournalProcessorFR.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed build
  scu-at/Directory.Build.props
  scu-at/src/fiskaltrust.Middleware.SCU.AT.InMemory/InMemorySCU.cs
  scu-at/test/fiskaltrust.Middleware.SCU.AT.InMemory.UnitTest/InMemorySCUTests.cs
Due: none

Fixed build
  queue/src/fiskaltrust.Middleware.Localization.QueueFR/QueueFRBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

retry on 500 - 599 Errors
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/FiskalySCUConfiguration.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Helpers/AuthenticatedHttpClientHandler.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Helpers/HttpClientWrapper.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/ScuBootstrapper.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Services/FiskalyV2ApiProvider.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.IntegrationTest/BadGatewayLogger.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.IntegrationTest/FiskalyV2SCUTests.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.IntegrationTest/HttpClientWrapperTests.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.IntegrationTest/TestFixture.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

dispose properly
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Helpers/HttpClientWrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

add release ci stage
  azure-pipelines/fiskaltrust.Middleware.Queue.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml
  azure-pipelines/templates/build-zip.yml
  azure-pipelines/templates/queue/build-zip.template.yml
  azure-pipelines/templates/release.yml
  azure-pipelines/templates/scu-de/build-zip.template.yml
  azure-pipelines/templates/scu-me/build-zip.template.yml
Due: none

fix parameters
  azure-pipelines/fiskaltrust.Middleware.Queue.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml
  azure-pipelines/templates/build-zip.yml
Due: none

add stages
  azure-pipelines/fiskaltrust.Middleware.Queue.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml
Due: none

fix stage dependencies
  azure-pipelines/fiskaltrust.Middleware.Queue.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml
Due: none

fix name
  azure-pipelines/templates/release.yml
Due: none

update conditions
  azure-pipelines/fiskaltrust.Middleware.Queue.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml
Due: none

Use Task.Delay instead of Thread.Sleep()
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Services/DeutscheFiskalFccDownloadService.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

add environment ressource
  azure-pipelines/templates/release.yml
Due: none

separate release stages
  azure-pipelines/templates/release.yml
Due: none

fix eq
  azure-pipelines/templates/release.yml
Due: none

update display name
  azure-pipelines/templates/release.yml
Due: none

fix display name
  azure-pipelines/templates/release.yml
Due: none

add production
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml
  azure-pipelines/templates/release.yml
Due: none

fix dependencies
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml
  azure-pipelines/templates/release.yml
Due: none

fix dependson
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml
  azure-pipelines/templates/release.yml
Due: none

Added support for Arm 32 bit to the Swissbit SCU
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit.Interop.DynamicLib/FunctionPointerFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

fix
  azure-pipelines/templates/release.yml
Due: none

fix dependson
  azure-pipelines/templates/release.yml
Due: none

tmp
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml
Due: none

fix
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml
Due: none

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
