Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de

Switch no-build to no-restore
  azure-pipelines/fiskaltrust.Middleware.Queue.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml
Due: none

Added net6 targets, added zip build
  azure-pipelines/fiskaltrust.Middleware.Queue.yml
Due: none

Use windows-2022
  azure-pipelines/fiskaltrust.Middleware.Queue.yml
Due: none

Disable shadowCopy in unit tests
  queue/test/fiskaltrust.Middleware.Storage.SQLite.IntegrationTest/fiskaltrust.Middleware.Storage.SQLite.IntegrationTest.csproj
  queue/test/fiskaltrust.Middleware.Storage.SQLite.IntegrationTest/xunit.runner.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Cache nuget packages
  azure-pipelines/fiskaltrust.Middleware.Queue.yml
Due: none

Disable shadowCopy in SQLite acceptance tests
  queue/test/fiskaltrust.Middleware.Storage.SQLite.AcceptanceTest/fiskaltrust.Middleware.Storage.SQLite.AcceptanceTest.csproj
  queue/test/fiskaltrust.Middleware.Storage.SQLite.AcceptanceTest/xunit.runner.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed cache paths
  azure-pipelines/fiskaltrust.Middleware.Queue.yml
Due: none

Disable shadowCopy for MySQL acceptance tests
  queue/test/fiskaltrust.Middleware.Storage.MySQL.AcceptanceTest/fiskaltrust.Middleware.Storage.MySQL.AcceptanceTest.csproj
  queue/test/fiskaltrust.Middleware.Storage.MySQL.AcceptanceTest/xunit.runner.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Split queue build into templates
  azure-pipelines/fiskaltrust.Middleware.Queue.yml
  azure-pipelines/templates/queue/acceptance-test.template.yml
  azure-pipelines/templates/queue/build-nuget.template.yml
  azure-pipelines/templates/queue/build-zip.template.yml
  azure-pipelines/templates/queue/test.template.yml
Due: none

Use connection strings from env variables for tests
  queue/src/fiskaltrust.Middleware.Storage.EFCore.SQLServer/EFCoreSQLServerStorageBootstrapper.cs
  queue/test/fiskaltrust.Middleware.Storage.Azure.AcceptanceTest/Constants.cs
  queue/test/fiskaltrust.Middleware.Storage.EFCore.AcceptanceTest/PostgreSQL/Fixtures/EFCorePostgreSQLStorageCollectionFixture.cs
  queue/test/fiskaltrust.Middleware.Storage.MySQL.AcceptanceTest/Fixtures/MySQLConnectionStringFixture.cs
  queue/test/fiskaltrust.Middleware.Storage.MySQL.IntegrationTest/MySQLStorageBoostrapperTest.cs
  queue/test/fiskaltrust.Middleware.Storage.MySQL.IntegrationTest/configuration.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Add Middleware Tests variable group
  azure-pipelines/fiskaltrust.Middleware.Queue.yml
Due: none

Inject test variables into env
  azure-pipelines/templates/queue/acceptance-test.template.yml
  azure-pipelines/templates/queue/test.template.yml
Due: none

Use powershell tasks for publishing
  azure-pipelines/templates/queue/build-zip.template.yml
Due: none

Select version from Directory.Build.props
  azure-pipelines/templates/queue/build-zip.template.yml
Due: none

Convert env to base64
  queue/test/fiskaltrust.Middleware.Storage.MySQL.IntegrationTest/MySQLStorageBoostrapperTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Create publish output directory
  azure-pipelines/templates/queue/build-zip.template.yml
Due: none

Added net6 target to PostgreSQL
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/fiskaltrust.Middleware.Queue.PostgreSQL.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add upstream changes
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/fiskaltrust.Middleware.Localization.QueueDE.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/version.json
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/version.json
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/fiskaltrust.Middleware.Queue.PostgreSQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.SQLite/.nuspec
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
  queue/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added zip package build to scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml
  azure-pipelines/templates/queue/build-zip.template.yml
  azure-pipelines/templates/scu-de/build-nuget.template.yml
  azure-pipelines/templates/scu-de/build-zip.template.yml
  azure-pipelines/templates/scu-de/test.template.yml
Due: none

Workingdir is ignored in dotnet commands
  azure-pipelines/templates/scu-de/build-nuget.template.yml
  azure-pipelines/templates/scu-de/test.template.yml
Due: none

Fixed build
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Helpers.TLVLogParser/fiskaltrust.Middleware.SCU.DE.Helpers.TLVLogParser.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitBase/Interop/SwissbitProxy.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitBase/SwissbitBase.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Rename master branch to main in scripts
  azure-pipelines/fiskaltrust.Middleware.Queue.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid.yml
  azure-pipelines/templates/queue/acceptance-test.template.yml
  azure-pipelines/templates/queue/build-nuget.template.yml
  azure-pipelines/templates/queue/build-zip.template.yml
  azure-pipelines/templates/queue/test.template.yml
  azure-pipelines/templates/scu-de/build-nuget.template.yml
  azure-pipelines/templates/scu-de/build-zip.template.yml
  azure-pipelines/templates/scu-de/test.template.yml
  queue/src/fiskaltrust.Middleware.Abstractions/version.json
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/version.json
  queue/src/fiskaltrust.Middleware.Queue.EF/version.json
  queue/src/fiskaltrust.Middleware.Queue.InMemory/version.json
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Build release SCU packages on main branch
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DieboldNixdorf/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Epson/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.InMemory/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloud/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Delete temporary files after TAR exports
  queue/src/fiskaltrust.Middleware.Contracts/Constants/JournalTypes.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/JournalProcessorDE.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Bump version to 1.3.29
  queue/src/fiskaltrust.Middleware.Queue.EF/version.json
  queue/src/fiskaltrust.Middleware.Queue.InMemory/version.json
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
  queue/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update README.md
  README.md
Due: none

Updated tag filters in version.json
  queue/src/fiskaltrust.Middleware.Abstractions/version.json
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/version.json
  queue/src/fiskaltrust.Middleware.Queue.EF/version.json
  queue/src/fiskaltrust.Middleware.Queue.InMemory/version.json
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
  queue/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DieboldNixdorf/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Epson/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.InMemory/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloud/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Fixed unit tests
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/JournalProcessorDE.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.UnitTest/JournalProcessorDEUnitTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed integration tests
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/JournalProcessorDETests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Only sign fiskaltrust DLLs
  azure-pipelines/templates/queue/build-nuget.template.yml
Due: none

clean up files after upload
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/JournalProcessorDE.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

check for correct journal insertion.
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Closings/DailyClosingTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add pr trigger to pipelines
  azure-pipelines/fiskaltrust.Middleware.Queue.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml
Due: none

fix triggers
  azure-pipelines/fiskaltrust.Middleware.Queue.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml
Due: none

refactor
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Constants/ConfigurationKeys.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/JournalProcessorDE.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/SignProcessorDE.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

split Export & Acknowledgement
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Communication/FccAdminApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

fix upload validation
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Services/TarFileExportService.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

use streams
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml
