Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

azure-pipelines/fiskaltrust.Middleware.Queue.yml:

resources:
- repo: self

trigger:
  batch: true
  branches:
    include:
    - main
    - refs/tags/queue/*
  paths:
    include:
      - queue

pr: none

variables:
- group: 'Code Signing Certificates'
- group: 'Middleware Tests'
- name: BuildConfiguration
  value: release
- name: Solution
  value: 'fiskaltrust.Middleware.sln'
- name: WorkingDirectory
  value: 'queue'
- name: vmImageName 
  value: 'windows-2022'

jobs:  
- job: Test
  displayName: Unit and integration tests
  pool:
    vmImage: $(vmImageName)
  steps:
  - template: templates/queue/test.template.yml

- job: AcceptanceTest
  dependsOn: Test
  displayName: Acceptance tests
  condition: and(succeeded(), or(eq(variables['Build.SourceBranch'], 'refs/heads/main'), startsWith(variables['Build.SourceBranch'], 'refs/tags/queue/')))
  pool:
    vmImage: $(vmImageName)
  strategy:
    maxParallel: 4
    matrix: 
      EFQueue:
        Project: 'fiskaltrust.Middleware.Storage.EF.AcceptanceTest'
      EFCoreQueue:
        Project: 'fiskaltrust.Middleware.Storage.EFCore.AcceptanceTest'
      SQLiteQueue:
        Project: 'fiskaltrust.Middleware.Storage.SQLite.AcceptanceTest'
      MySQLQueue:
        Project: 'fiskaltrust.Middleware.Storage.MySQL.AcceptanceTest'
      InMemoryQueue:
        Project: 'fiskaltrust.Middleware.Storage.InMemory.AcceptanceTest'
      QueueSynchronizer:
        Project: 'fiskaltrust.Middleware.QueueSynchronizer.AcceptanceTest'
      Queue:
        Project: 'fiskaltrust.Middleware.Queue.AcceptanceTest'
  steps:
  - template: templates/queue/acceptance-test.template.yml

- job: BuildNugetPackages
  displayName: Build v1 NuGet packages
  dependsOn: 
  - Test
  - AcceptanceTest
  condition: and(eq(dependencies.Test.result, 'Succeeded'), in(dependencies.AcceptanceTest.result, 'Succeeded', 'Skipped'))
  pool:
    vmImage: $(vmImageName)
  steps:
  - template: templates/queue/build-nuget.template.yml

- job: BuildZipPackages
  displayName: Build v2 zip packages
  dependsOn: 
  - Test
  - AcceptanceTest
  condition: and(eq(dependencies.Test.result, 'Succeeded'), in(dependencies.AcceptanceTest.result, 'Succeeded', 'Skipped'))
  pool:
    vmImage: $(vmImageName)
  steps:
  - template: templates/queue/build-zip.template.yml

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:

resources:
- repo: self

trigger:
  batch: true
  branches:
    include:
    - main
    - refs/tags/scu-de/*
  paths:
    include:
      - scu-de

pr:
  branches:
    include:
    - main
    - refs/tags/scu-de/*
  paths:
    include:
      - scu-de

variables:
- group: 'Code Signing Certificates'
- name: BuildConfiguration
  value: release
- name: Solution
  value: 'fiskaltrust.Middleware.SCU.DE.sln'
- name: vmImageName 
  value: 'windows-2022'
- name: WorkingDirectory
  value: 'scu-de'

jobs:  
- job: Test
  displayName: Unit and integration tests
  pool:
    vmImage: $(vmImageName)
  steps:
  - template: templates/scu-de/test.template.yml

- job: BuildNugetPackages
  displayName: Build v1 NuGet packages
  dependsOn: 
  - Test
  condition: succeeded()
  pool:
    vmImage: $(vmImageName)
  steps:
  - template: templates/scu-de/build-nuget.template.yml

- job: BuildZipPackages
  displayName: Build v2 zip packages
  dependsOn: 
  - Test
  condition: succeeded()
  pool:
    vmImage: $(vmImageName)
  steps:
  - template: templates/scu-de/build-zip.template.yml

fix smoketests
  azure-pipelines/fiskaltrust.Middleware.SmokeTests.yaml
  azure-pipelines/templates/smoketests/post/fiskalycertified.yaml
  azure-pipelines/templates/smoketests/post/swissbitcloud.yaml
  azure-pipelines/templates/smoketests/pre/fiskalycertified.yaml
  azure-pipelines/templates/smoketests/pre/swissbitcloud.yaml
  azure-pipelines/templates/smoketests/smoke-test.yaml
  azure-pipelines/templates/smoketests/test.yaml
Due: none

fix paths
  azure-pipelines/fiskaltrust.Middleware.SmokeTests.yaml
Due: none

fix paths
  azure-pipelines/templates/smoketests/smoke-test.yaml
Due: none

fix artifact
  azure-pipelines/templates/smoketests/test.yaml
Due: none

add get; set; to config
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/QueueDEConfiguration.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/EFStorageConfiguration.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.PostgreSQL/PostgreSQLStorageConfiguration.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/MySQLStorageConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update fiskaltrust.Middleware.SmokeTests.yaml for Azure Pipelines
  azure-pipelines/fiskaltrust.Middleware.SmokeTests.yaml
Due: none

read last signature from tar-file, 2 remove duplicats
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/CryptoVisionSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Helpers.TLVLogParser/Tar/TarFileHelper.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

remove unused param & method
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/Interop/File/CryptoVisionFileProxy.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/Interop/File/MassStorageClassTransportAdapter.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

remove unused param
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/CryptoVisionSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

read 2 end
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/Interop/File/MassStorageClassTransportAdapter.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

use resultlenght 4 loop end
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/Interop/File/MassStorageClassTransportAdapter.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

fix reauthenticate before delete
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/CryptoVisionSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

update datafrag change
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/Interop/File/MassStorageClassTransportAdapter.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

add ME queue localization
  queue/fiskaltrust.Middleware.sln
  queue/src/fiskaltrust.Middleware.Localization.QueueME/BootStrapperQueueME.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/Extensions/ServiceCollectionExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/JournalProcessorME.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/Models/RequestCommandResponse.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/QueueMEConfiguration.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/Factories/IRequestCommandFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/Factories/RequestCommandFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/SignProcessorME.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/SignatureFactoryME.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/fiskaltrust.Middleware.Localization.QueueME.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add ME to queue
  queue/src/fiskaltrust.Middleware.Localization.QueueME/BootStrapperQueueME.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/JournalProcessorME.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/Factories/RequestCommandFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/SignProcessorME.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/SignatureFactoryME.cs
  queue/src/fiskaltrust.Middleware.Queue/Bootstrapper/LocalizedQueueBootStrapperFactory.cs
  queue/src/fiskaltrust.Middleware.Queue/fiskaltrust.Middleware.Queue.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

use receiptRequestFactory
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/Factories/IRequestCommandFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/Factories/RequestCommandFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/SignProcessorME.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Use FCC 3.2.5
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCUConfiguration.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloud/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Added trace logging
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/SignProcessorDE.cs
  queue/src/fiskaltrust.Middleware.Queue/Bootstrapper/QueueBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
  queue/src/fiskaltrust.Middleware.QueueSynchronizer/LocalQueueSynchronizationDecorator.cs
  queue/src/fiskaltrust.Middleware.QueueSynchronizer/fiskaltrust.Middleware.QueueSynchronizer.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Helpers/RequestCommandFactoryHelper.cs
  queue/test/fiskaltrust.Middleware.Queue.AcceptanceTest/QueueBootstrapperUnitTests.cs
  queue/test/fiskaltrust.Middleware.QueueSynchronizer.AcceptanceTest/LocalQueueSynchronizerTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Bump versions to 1.3.30
  queue/src/fiskaltrust.Middleware.Queue.EF/version.json
  queue/src/fiskaltrust.Middleware.Queue.InMemory/version.json
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
  queue/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

review
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/CryptoVisionSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/Exceptions/CryptoVisionExceptionHelper.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/Exceptions/CryptoVisionNotAuthenticatedException.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/Exceptions/CryptoVisionTimeoutException.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/Interop/File/CryptoVisionFileProxy.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/Interop/File/MassStorageClassTransportAdapter.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Update version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Update README.md
  README.md
Due: none

interfaces
  queue/src/fiskaltrust.Middleware.Contracts/Repositories/IMiddlewareRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Repositories/DE/MySQLJournalDERepository.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/DE/SQLiteJournalDERepository.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/SQLiteDatabaseCleanUp.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add SharpCompress Lib
  queue/src/fiskaltrust.Middleware.Storage.Azure/fiskaltrust.Middleware.Storage.Azure.csproj
  queue/src/fiskaltrust.Middleware.Storage.EF/fiskaltrust.Middleware.Storage.EF.csproj
  queue/src/fiskaltrust.Middleware.Storage.EFCore.PostgreSQL/fiskaltrust.Middleware.Storage.EFCore.PostgreSQL.csproj
  queue/src/fiskaltrust.Middleware.Storage.EFCore.SQLServer/fiskaltrust.Middleware.Storage.EFCore.SQLServer.csproj
  queue/src/fiskaltrust.Middleware.Storage.InMemory/fiskaltrust.Middleware.Storage.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Storage.MySQL/fiskaltrust.Middleware.Storage.MySQL.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

changed version dependency
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCUConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

version +1
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloud/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Make sure that FCC update is executed correctly
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Helpers/FileSystemHelper.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Services/DeutscheFiskalFccDownloadService.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Services/DeutscheFiskalFccInitializationService.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Services/Interfaces/IFccDownloadService.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Services/Interfaces/IFccInitializationService.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal.IntegrationTest/FccDownloaderTests.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.SwissbitCloud.IntegrationTest/FccDownloaderTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

PR suggestions
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Services/DeutscheFiskalFccInitializationService.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

update dependencides
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/version.json
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/fiskaltrust.Middleware.Queue.PostgreSQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
  queue/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add timestamp prop
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/DE/SQLiteJournalDERepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add queueme reference
  queue/src/fiskaltrust.Middleware.Queue.SQLite/.nuspec
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

surpress warnings
  queue/src/fiskaltrust.Middleware.Contracts/Constants/JournalTypes.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

undo
  queue/src/fiskaltrust.Middleware.Contracts/Constants/JournalTypes.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add missing SharpCompress dependency
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/fiskaltrust.Middleware.Queue.PostgreSQL.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Removed wrong version attributes
  queue/Directory.Build.props
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Unittest InitialOperationReceiptCommand
  queue/fiskaltrust.Middleware.sln
  queue/src/fiskaltrust.Middleware.Localization.QueueME/Exceptions/ENUAlreadyRegisteredException.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/Models/TCR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Storage.InMemory/Repositories/InMemoryConfigurationRepository.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/Helper/InMemoryMESSCD.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/RequestCommandsTests/InitialOperationReceiptCommandTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/fiskaltrust.Middleware.Localization.QueueME.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Out of Operation Receipt
  queue/src/fiskaltrust.Middleware.Localization.QueueME/Exceptions/ENUIIDDontMatchException.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/Exceptions/ENUNotRegisteredException.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/Exceptions/ENUValidToNotSetException.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/Models/TCR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/Factories/RequestCommandFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/RequestCommandsTests/InitialOperationReceiptCommandTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/RequestCommandsTests/OutOfOperationReceiptCommandTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml
