Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

azure-pipelines/fiskaltrust.Middleware.Queue.yml:

resources:
- repo: self

trigger:
  batch: true
  branches:
    include:
    - main
    - refs/tags/queue/*
  paths:
    include:
      - queue

pr: none

variables:
- group: 'Code Signing Certificates'
- group: 'Middleware Tests'
- name: BuildConfiguration
  value: release
- name: Solution
  value: 'fiskaltrust.Middleware.sln'
- name: WorkingDirectory
  value: 'queue'
- name: vmImageName 
  value: 'windows-2022'

jobs:  
- job: Test
  displayName: Unit and integration tests
  pool:
    vmImage: $(vmImageName)
  steps:
  - template: templates/queue/test.template.yml

- job: AcceptanceTest
  dependsOn: Test
  displayName: Acceptance tests
  condition: and(succeeded(), or(eq(variables['Build.SourceBranch'], 'refs/heads/main'), startsWith(variables['Build.SourceBranch'], 'refs/tags/queue/')))
  pool:
    vmImage: $(vmImageName)
  strategy:
    maxParallel: 4
    matrix: 
      EFQueue:
        Project: 'fiskaltrust.Middleware.Storage.EF.AcceptanceTest'
      EFCoreQueue:
        Project: 'fiskaltrust.Middleware.Storage.EFCore.AcceptanceTest'
      SQLiteQueue:
        Project: 'fiskaltrust.Middleware.Storage.SQLite.AcceptanceTest'
      MySQLQueue:
        Project: 'fiskaltrust.Middleware.Storage.MySQL.AcceptanceTest'
      InMemoryQueue:
        Project: 'fiskaltrust.Middleware.Storage.InMemory.AcceptanceTest'
      QueueSynchronizer:
        Project: 'fiskaltrust.Middleware.QueueSynchronizer.AcceptanceTest'
      Queue:
        Project: 'fiskaltrust.Middleware.Queue.AcceptanceTest'
  steps:
  - template: templates/queue/acceptance-test.template.yml

- job: BuildNugetPackages
  displayName: Build v1 NuGet packages
  dependsOn: 
  - Test
  - AcceptanceTest
  condition: and(eq(dependencies.Test.result, 'Succeeded'), in(dependencies.AcceptanceTest.result, 'Succeeded', 'Skipped'))
  pool:
    vmImage: $(vmImageName)
  steps:
  - template: templates/queue/build-nuget.template.yml

- job: BuildZipPackages
  displayName: Build v2 zip packages
  dependsOn: 
  - Test
  - AcceptanceTest
  condition: and(eq(dependencies.Test.result, 'Succeeded'), in(dependencies.AcceptanceTest.result, 'Succeeded', 'Skipped'))
  pool:
    vmImage: $(vmImageName)
  steps:
  - template: templates/queue/build-zip.template.yml

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:

resources:
- repo: self

trigger:
  batch: true
  branches:
    include:
    - main
    - refs/tags/scu-de/*
  paths:
    include:
      - scu-de

pr:
  branches:
    include:
    - main
    - refs/tags/scu-de/*
  paths:
    include:
      - scu-de

variables:
- group: 'Code Signing Certificates'
- name: BuildConfiguration
  value: release
- name: Solution
  value: 'fiskaltrust.Middleware.SCU.DE.sln'
- name: vmImageName 
  value: 'windows-2022'
- name: WorkingDirectory
  value: 'scu-de'

jobs:  
- job: Test
  displayName: Unit and integration tests
  pool:
    vmImage: $(vmImageName)
  steps:
  - template: templates/scu-de/test.template.yml

- job: BuildNugetPackages
  displayName: Build v1 NuGet packages
  dependsOn: 
  - Test
  condition: succeeded()
  pool:
    vmImage: $(vmImageName)
  steps:
  - template: templates/scu-de/build-nuget.template.yml

- job: BuildZipPackages
  displayName: Build v2 zip packages
  dependsOn: 
  - Test
  condition: succeeded()
  pool:
    vmImage: $(vmImageName)
  steps:
  - template: templates/scu-de/build-zip.template.yml

new queue for each repo
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/AbstractSQLiteRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add ErroStates Datetimeformat configurable
  queue/src/fiskaltrust.Middleware.Localization.QueueME/Extensions/ChargeItemExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/Extensions/ReceiptResponseExtension.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/CashDepositReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/CashWithdrawalReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/CompleteVoidedReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/MonthlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/PartialVoidedReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/PosReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/YearlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/ZeroReceiptCommand.cs
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Program.cs
  scu-me/src/fiskaltrust.Middleware.SCU.ME.Common/Configuration/ScuMEConfiguration.cs
  scu-me/src/fiskaltrust.Middleware.SCU.ME.FiscalizationService/FiscalizationServiceSCU.cs
  scu-me/test/TestLauncher/Program.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix tests
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Program.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/RequestCommandsTests/PosReceiptCommandTests.cs
  scu-me/test/TestLauncher/Program.cs
  scu-me/test/fiskaltrust.Middleware.SCU.ME.FiscalizationService.UnitTest/FiscalizationServiceSCUTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Add SQLite native libs for Arm
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Support downloading Arm FCCs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Services/DeutscheFiskalFccDownloadService.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Bump version
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
  queue/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloud/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

wal mode
  queue/src/fiskaltrust.Middleware.Storage.SQLite/DatabaseInitialization/DatabaseMigrator.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/SQLiteStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Scripts/WAL_OFF.sqlite3
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Scripts/WAL_ON.sqlite3
  queue/src/fiskaltrust.Middleware.Storage.SQLite/fiskaltrust.Middleware.Storage.SQLite.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

default value for unit
  queue/src/fiskaltrust.Middleware.Localization.QueueME/Extensions/ChargeItemExtensions.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Test WAL
  queue/src/fiskaltrust.Middleware.Storage.SQLite/DatabaseInitialization/DatabaseMigrator.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/SQLiteStorageBootstrapper.cs
  queue/test/fiskaltrust.Middleware.Storage.SQLite.IntegrationTest/DatabaseMigratiorTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

make db each test
  queue/test/fiskaltrust.Middleware.Storage.SQLite.IntegrationTest/DatabaseMigratiorTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

set Fcc Heap Memory
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCUConfiguration.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Helpers/ConfigHelper.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal.IntegrationTest/ConfigHelperTest.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal.IntegrationTest/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal.IntegrationTest.csproj
  scu-de/test/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal.IntegrationTest/testdata/NoXmx/run_fcc.bat
  scu-de/test/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal.IntegrationTest/testdata/replaceXmx1024/run_fcc.bat
  scu-de/test/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal.IntegrationTest/testdata/replaceXmx512/run_fcc.bat
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

move command, script file
  queue/src/fiskaltrust.Middleware.Storage.SQLite/DatabaseInitialization/DatabaseMigrator.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Scripts/WAL_OFF.sqlite3
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Scripts/WAL_ON.sqlite3
  queue/src/fiskaltrust.Middleware.Storage.SQLite/fiskaltrust.Middleware.Storage.SQLite.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

remove exclamation mark
  queue/src/fiskaltrust.Middleware.Storage.SQLite/DatabaseInitialization/DatabaseMigrator.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

remove test for noiw
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/ZeroReceiptTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Made WAL property boolean
  queue/src/fiskaltrust.Middleware.Storage.SQLite/DatabaseInitialization/DatabaseMigrator.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Bump version to 1.3.38-rc1
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed test
  queue/test/fiskaltrust.Middleware.Storage.SQLite.IntegrationTest/DatabaseMigratiorTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Use FCC version 4.0.3
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCUConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Use FCC 4.0.4
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCUConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Removed duplicate refs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DieboldNixdorf/fiskaltrust.Middleware.SCU.DE.DieboldNixdorf.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Epson/fiskaltrust.Middleware.SCU.DE.Epson.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloud/fiskaltrust.Middleware.SCU.DE.SwissbitCloud.csproj
  scu-de/test/Directory.Build.props
  scu-de/test/Manual/fiskaltrust.Middleware.SCU.DE.Test.Launcher/Program.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

fix linter warnings
  queue/src/fiskaltrust.Middleware.Localization.QueueME/JournalProcessorME.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/Factories/RequestCommandFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/SignProcessorME.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fail if failed start transaction
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/FailTransactionReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

do checks
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/FailTransactionReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add test
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/Data/FailTransactionReceipt/Request.json
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Fixtures/SignProcessorDependenciesFixture.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/FailTransactionReceiptTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add hash generation
  azure-pipelines/templates/scu-de/build-zip.template.yml
Due: none

update receipt with failed start transaction
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/FailTransactionReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix tests
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Program.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/FailTransactionReceiptTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix exception mess
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/FailTransactionReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fcc retry & Version
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCUConfiguration.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Services/DeutscheFiskalFccDownloadService.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Services/Interfaces/IFccDownloadService.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

add packages v2 hash
  azure-pipelines/templates/queue/build-zip.template.yml
  azure-pipelines/templates/scu-me/build-zip.template.yml
Due: none

add fcc version to firmwareversion
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

update firmwareidentification
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Models/Dto/SelfCheckResponseDto.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

update tests
  scu-de/test/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal.IntegrationTest/DeutscheFiskalSCUTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Finished copy receipt
  queue/src/fiskaltrust.Middleware.Contracts/Repositories/IMiddlewareRepository.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueFR/RequestCommands/ArchiveCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueFR/RequestCommands/CopyCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueFR/SignProcessorFROld.cs
  queue/src/fiskaltrust.Middleware.Storage.Azure/Repositories/FR/AzureJournalFRRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/Repositories/FR/EfJournalFRRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore/Repositories/FR/EFCoreJournalFRRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.InMemory/Repositories/FR/InMemoryJournalFRRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Repositories/FR/MySQLJournalFRRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/FR/SQLiteJournalFRRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Prevent archive receipts when Queue hasn't started yet
  queue/src/fiskaltrust.Middleware.Localization.QueueFR/RequestCommands/ArchiveCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Properly handle receipt case flags in Austria
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/Helpers/ATFONRegistrationHelper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/Models/AddSignatureDecision.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/Factories/RequestCommandFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/HandwrittenReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/MonthlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/SSCDFailedReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/UsedFailedReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/YearlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/SignProcessorAT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Handle disabled queue in Austria
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/DisabledQueueReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added Austrian zero receipt
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/Helpers/ATFONRegistrationHelper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/JournalProcessorAT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/ReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/ZeroReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added bootstrapper
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/JournalProcessorAT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/QueueATBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/Factories/RequestCommandFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/PosReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueFR/QueueFRBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed build
  azure-pipelines/templates/scu-at/test.template.yml
  scu-at/src/fiskaltrust.Middleware.SCU.AT.InMemory/InMemorySCU.cs
Due: none
