Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

azure-pipelines/fiskaltrust.Middleware.Queue.yml:

resources:
- repo: self

trigger:
  batch: true
  branches:
    include:
    - main
    - refs/tags/queue/*
  paths:
    include:
      - queue

pr: none

variables:
- group: 'Code Signing Certificates'
- group: 'Middleware Tests'
- name: BuildConfiguration
  value: release
- name: Solution
  value: 'fiskaltrust.Middleware.sln'
- name: WorkingDirectory
  value: 'queue'
- name: vmImageName 
  value: 'windows-2022'

jobs:  
- job: Test
  displayName: Unit and integration tests
  pool:
    vmImage: $(vmImageName)
  steps:
  - template: templates/queue/test.template.yml

- job: AcceptanceTest
  dependsOn: Test
  displayName: Acceptance tests
  condition: and(succeeded(), or(eq(variables['Build.SourceBranch'], 'refs/heads/main'), startsWith(variables['Build.SourceBranch'], 'refs/tags/queue/')))
  pool:
    vmImage: $(vmImageName)
  strategy:
    maxParallel: 4
    matrix: 
      EFQueue:
        Project: 'fiskaltrust.Middleware.Storage.EF.AcceptanceTest'
      EFCoreQueue:
        Project: 'fiskaltrust.Middleware.Storage.EFCore.AcceptanceTest'
      SQLiteQueue:
        Project: 'fiskaltrust.Middleware.Storage.SQLite.AcceptanceTest'
      MySQLQueue:
        Project: 'fiskaltrust.Middleware.Storage.MySQL.AcceptanceTest'
      InMemoryQueue:
        Project: 'fiskaltrust.Middleware.Storage.InMemory.AcceptanceTest'
      QueueSynchronizer:
        Project: 'fiskaltrust.Middleware.QueueSynchronizer.AcceptanceTest'
      Queue:
        Project: 'fiskaltrust.Middleware.Queue.AcceptanceTest'
  steps:
  - template: templates/queue/acceptance-test.template.yml

- job: BuildNugetPackages
  displayName: Build v1 NuGet packages
  dependsOn: 
  - Test
  - AcceptanceTest
  condition: and(eq(dependencies.Test.result, 'Succeeded'), in(dependencies.AcceptanceTest.result, 'Succeeded', 'Skipped'))
  pool:
    vmImage: $(vmImageName)
  steps:
  - template: templates/queue/build-nuget.template.yml

- job: BuildZipPackages
  displayName: Build v2 zip packages
  dependsOn: 
  - Test
  - AcceptanceTest
  condition: and(eq(dependencies.Test.result, 'Succeeded'), in(dependencies.AcceptanceTest.result, 'Succeeded', 'Skipped'))
  pool:
    vmImage: $(vmImageName)
  steps:
  - template: templates/queue/build-zip.template.yml

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:

resources:
- repo: self

trigger:
  batch: true
  branches:
    include:
    - main
    - refs/tags/scu-de/*
  paths:
    include:
      - scu-de

pr:
  branches:
    include:
    - main
    - refs/tags/scu-de/*
  paths:
    include:
      - scu-de

variables:
- group: 'Code Signing Certificates'
- name: BuildConfiguration
  value: release
- name: Solution
  value: 'fiskaltrust.Middleware.SCU.DE.sln'
- name: vmImageName 
  value: 'windows-2022'
- name: WorkingDirectory
  value: 'scu-de'

jobs:  
- job: Test
  displayName: Unit and integration tests
  pool:
    vmImage: $(vmImageName)
  steps:
  - template: templates/scu-de/test.template.yml

- job: BuildNugetPackages
  displayName: Build v1 NuGet packages
  dependsOn: 
  - Test
  condition: succeeded()
  pool:
    vmImage: $(vmImageName)
  steps:
  - template: templates/scu-de/build-nuget.template.yml

- job: BuildZipPackages
  displayName: Build v2 zip packages
  dependsOn: 
  - Test
  condition: succeeded()
  pool:
    vmImage: $(vmImageName)
  steps:
  - template: templates/scu-de/build-zip.template.yml

Removed private asset stuff
  scu-me/src/fiskaltrust.Middleware.SCU.ME.FiscalizationService/fiskaltrust.Middleware.SCU.ME.FiscalizationService.csproj
  scu-me/test/fiskaltrust.Middleware.SCU.ME.FiscalizationService.UnitTest/fiskaltrust.Middleware.SCU.ME.FiscalizationService.UnitTest.csproj
Due: none

add JournalDE dependency
  queue/src/fiskaltrust.Middleware.Queue/Bootstrapper/QueueBootstrapper.cs
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Program.cs
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/fiskaltrust.Middleware.Queue.Test.Launcher.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix tests
  queue/test/fiskaltrust.Middleware.Queue.AcceptanceTest/QueueBootstrapperUnitTests.cs
  queue/test/fiskaltrust.Middleware.Queue.InMemory.IntegrationTest/PosBootstrapperTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed typo
  queue/src/fiskaltrust.Middleware.Localization.QueueME/Services/MESSCDProvider.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

convertCETFromUtc
  scu-me/src/fiskaltrust.Middleware.SCU.ME.FiscalizationService/FiscalizationServiceSCU.cs
Due: none

Added most of the receipt logic, finished start receipt
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/Extensions/ftSignaturCreationUnitATExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/Helpers/ATFONRegistrationHelper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/Helpers/ConversionHelper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/Helpers/TotalizerEncryptionHelper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/Models/RequestCommandResponse.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/QueueATConfiguration.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/DisabledQueueReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/HandwrittenReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/MonthlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/NormalReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/SSCDFailedReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/UsedFailedReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/YearlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/ZeroReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/Services/ATSSCDProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/Services/IATSSCDProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/SignProcessorAT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/fiskaltrust.Middleware.Localization.QueueAT.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added more receipts
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/Extensions/ArrayExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/Helpers/ATFONRegistrationHelper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/Models/AddSignatureDecision.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/Models/RksvDepExport.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/QueueATConfiguration.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/MonthlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/YearlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/Services/ExportService.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Renamed ReceiptCommand
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/Factories/RequestCommandFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/NormalReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/ReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added InMemorySCU for AT
  scu-at/fiskaltrust.Middleware.SCU.AT.sln
  scu-at/src/fiskaltrust.Middleware.SCU.AT.InMemory/InMemorySCU.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.InMemory/ScuBootstrapper.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.InMemory/fiskaltrust.Middleware.SCU.AT.InMemory.csproj
Due: none

Added SCU build for AT
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml
  azure-pipelines/templates/scu-at/build-nuget.template.yml
  azure-pipelines/templates/scu-at/build-zip.template.yml
  azure-pipelines/templates/scu-at/test.template.yml
Due: none

Wrapper for Client to use timeout in Mono
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Helpers/AuthenticatedHttpClientHandler.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Helpers/HttpClientWrapper.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Helpers/RuntimeHelper.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Services/FiskalyV2ApiProvider.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

logging
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Helpers/AuthenticatedHttpClientHandler.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Helpers/HttpClientWrapper.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Services/FiskalyV2ApiProvider.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.IntegrationTest/FiskalyV2SCUTests.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.IntegrationTest/TestFixture.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

fix dep inj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Services/FiskalyV2ApiProvider.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

fix tests
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.IntegrationTest/FiskalyV2SCUTests.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.IntegrationTest/TestFixture.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

abstract wrapper code
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Helpers/AuthenticatedHttpClientHandler.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Helpers/HttpClientWrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

catch cancel task - log message, remove stack overflow
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Helpers/AuthenticatedHttpClientHandler.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Helpers/HttpClientWrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

..
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Helpers/AuthenticatedHttpClientHandler.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

logging
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Helpers/HttpClientWrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

log in AuthenticatedHttpClient
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Helpers/AuthenticatedHttpClientHandler.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Helpers/HttpClientWrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

nullpointer
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Helpers/HttpClientWrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

refakter timeout in gettoken
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Helpers/AuthenticatedHttpClientHandler.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Helpers/HttpClientWrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

remove logging
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Helpers/AuthenticatedHttpClientHandler.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Helpers/HttpClientWrapper.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Services/FiskalyV2ApiProvider.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.IntegrationTest/FiskalyV2SCUTests.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.IntegrationTest/TestFixture.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

review
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Helpers/HttpClientWrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

add ref System.Text.Encoding.CodePages 5.0.0
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

..
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add signatures
  queue/src/fiskaltrust.Middleware.Localization.QueueME/Factories/SignatureItemFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/QueueMEConfiguration.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/CashDepositReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/CashWithdrawlReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/MonthlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/PosReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/YearlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/ZeroReceiptCommand.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/Helper/TestHelper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/RequestCommandsTests/InitialOperationReceiptCommandTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/RequestCommandsTests/OutOfOperationReceiptCommandTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/RequestCommandsTests/PosReceiptCommandTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/RequestCommandsTests/ZeroReceiptCommandTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Code style
  queue/src/fiskaltrust.Middleware.Localization.QueueME/Models/Buyer.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/Models/CorrectiveInv.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/Models/Fee.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/Models/Invoice.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/Models/InvoiceItemRequest.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/Models/RequestCommandResponse.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/Models/TCR.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Throw if non-supported receipt case is sent
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/Factories/RequestCommandFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Discount Reducing & not reducing base
  queue/src/fiskaltrust.Middleware.Contracts/fiskaltrust.Middleware.Contracts.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/fiskaltrust.Middleware.Localization.QueueDE.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueME/Extensions/ChargeItemExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/PosReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/VoidedReceipt.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/fiskaltrust.Middleware.Localization.QueueME.csproj
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/fiskaltrust.Middleware.Queue.AzureTableStorage.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
  queue/src/fiskaltrust.Middleware.Queue/fiskaltrust.Middleware.Queue.csproj
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/fiskaltrust.Middleware.Queue.Test.Launcher.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueAT.UnitTest/fiskaltrust.Middleware.Localization.QueueAT.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.UnitTest/fiskaltrust.Middleware.Localization.QueueDE.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.UnitTest/fiskaltrust.Middleware.Localization.QueueFR.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/fiskaltrust.Middleware.Localization.QueueME.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Queue.AcceptanceTest/fiskaltrust.Middleware.Queue.AcceptanceTest.csproj
  queue/test/fiskaltrust.Middleware.Queue.FunctionalTest/fiskaltrust.Middleware.Queue.FunctionalTest.csproj
  queue/test/fiskaltrust.Middleware.Queue.InMemory.IntegrationTest/fiskaltrust.Middleware.Queue.InMemory.IntegrationTest.csproj
  queue/test/fiskaltrust.Middleware.QueueSynchronizer.AcceptanceTest/fiskaltrust.Middleware.QueueSynchronizer.AcceptanceTest.csproj
  queue/test/fiskaltrust.Middleware.Storage.AcceptanceTest/fiskaltrust.Middleware.Storage.AcceptanceTest.csproj
  queue/test/fiskaltrust.Middleware.Storage.Azure.AcceptanceTest/fiskaltrust.Middleware.Storage.Azure.AcceptanceTest.csproj
  queue/test/fiskaltrust.Middleware.Storage.EF.AcceptanceTest/fiskaltrust.Middleware.Storage.EF.AcceptanceTest.csproj
  queue/test/fiskaltrust.Middleware.Storage.EF.IntegrationTest/fiskaltrust.Middleware.Storage.EF.IntegrationTest.csproj
  queue/test/fiskaltrust.Middleware.Storage.EFCore.AcceptanceTest/fiskaltrust.Middleware.Storage.EFCore.AcceptanceTest.csproj
  queue/test/fiskaltrust.Middleware.Storage.InMemory.AcceptanceTest/fiskaltrust.Middleware.Storage.InMemory.AcceptanceTest.csproj
  queue/test/fiskaltrust.Middleware.Storage.MySQL.AcceptanceTest/fiskaltrust.Middleware.Storage.MySQL.AcceptanceTest.csproj
  queue/test/fiskaltrust.Middleware.Storage.MySQL.IntegrationTest/fiskaltrust.Middleware.Storage.MySQL.IntegrationTest.csproj
  queue/test/fiskaltrust.Middleware.Storage.SQLite.AcceptanceTest/fiskaltrust.Middleware.Storage.SQLite.AcceptanceTest.csproj
  queue/test/fiskaltrust.Middleware.Storage.SQLite.IntegrationTest/fiskaltrust.Middleware.Storage.SQLite.IntegrationTest.csproj
  scu-me/src/fiskaltrust.Middleware.SCU.ME.FiscalizationService/FiscalizationServiceSCU.cs
  scu-me/src/fiskaltrust.Middleware.SCU.ME.FiscalizationService/Helpers/FormatBehavior.cs
  scu-me/test/TestLauncher/fiskaltrust.Middleware.SCU.ME.TestLauncher.csproj
  scu-me/test/fiskaltrust.Middleware.SCU.ME.FiscalizationService.UnitTest/FiscalizationServiceSCUTests.cs
  scu-me/test/fiskaltrust.Middleware.SCU.ME.InMemory.UnitTest/InMemorySCUTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

partial void cash
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/CompleteVoidedReceipt.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/PartialVoidedReceipt.cs
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Program.cs
  scu-me/test/TestLauncher/Program.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

removed unused properties in DF/SBC Dtos
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Models/Dto/FccInfoResponseDto.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Models/Dto/OpenTransactionResponseDto.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Models/Dto/SelfCheckResponseDto.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Models/Dto/TssDetailsResponseDto.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

updated MySqlConnector dependency
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Storage.MySQL/fiskaltrust.Middleware.Storage.MySQL.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Bump Queue to 1.3.35
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/JournalProcessorDE.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/fiskaltrust.Middleware.Localization.QueueDE.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/version.json
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/fiskaltrust.Middleware.Queue.PostgreSQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.SQLite/.nuspec
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
  queue/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Bump SCU to 1.3.35
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloud/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Don't export log timestamps from Swissbit TSE when the memory is too full
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitBase/SwissbitBase.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Make export threshold configurable
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitBase/SwissbitBase.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Update version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml
