Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

azure-pipelines/fiskaltrust.Middleware.Queue.yml:
  jobs:
  - job: Test
    displayName: Unit and integration tests
    pool:
      vmImage: $(vmImageName)
    steps:
    - template: templates/queue/test.template.yml
  - job: AcceptanceTest
    dependsOn: Test
    displayName: Acceptance tests
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:
  jobs:
  - job: Test
    displayName: Unit and integration tests
    pool:
      vmImage: $(vmImageName)
    steps:
    - template: templates/scu-de/test.template.yml
  - job: BuildNugetPackages
    displayName: Build v1 NuGet packages
    dependsOn:
    - Test
    condition: succeeded()
    pool:
  ...

fix datetime parsing
  scu-me/src/fiskaltrust.Middleware.SCU.ME.FiscalizationService/Helpers/DateTimeBehavior.cs
Due: none

formatting and warnings
  scu-me/src/fiskaltrust.Middleware.SCU.ME.FiscalizationService/FiscalizationServiceSCU.cs
  scu-me/src/fiskaltrust.Middleware.SCU.ME.FiscalizationService/Helpers/SigningBehavior.cs
  scu-me/src/fiskaltrust.Middleware.SCU.ME.FiscalizationService/ScuBootstrapper.cs
  scu-me/test/fiskaltrust.Middleware.SCU.ME.FiscalizationService.UnitTest/FiscalizationServiceSCUTests.cs
  scu-me/test/fiskaltrust.Middleware.SCU.ME.InMemory.UnitTest/InMemorySCUTests.cs
Due: none

update test
  scu-me/test/fiskaltrust.Middleware.SCU.ME.FiscalizationService.UnitTest/FiscalizationServiceSCUTests.cs
Due: none

Add cases from docu
  queue/src/fiskaltrust.Middleware.Localization.QueueME/Extensions/ChargeItemExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/Extensions/PayItemExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/CashDepositWithdrawlReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/Factories/RequestCommandFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/MonthlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/YearlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/ZeroReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Support deregistering clients from the FCC
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Communication/FccAdminApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Models/Dto/DeregisterClientRequestDto.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Version bump
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloud/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Add logging when stopping FCC
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Services/DeutscheFiskalFccProcessHost.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Bind to actual java process
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Services/DeutscheFiskalFccProcessHost.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Update scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Communication/FccAdminApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Communication/FccAdminApiProvider.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

update sqlite dependencies
  queue/src/fiskaltrust.Middleware.Queue.SQLite/.nuspec
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
  queue/src/fiskaltrust.Middleware.Storage.SQLite/fiskaltrust - Backup.Middleware.Storage.SQLite.csproj
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/fiskaltrust.Middleware.Queue.Test.Launcher.csproj
  queue/test/fiskaltrust.Middleware.Storage.SQLite.AcceptanceTest/fiskaltrust.Middleware.Storage.SQLite.AcceptanceTest.csproj
  queue/test/fiskaltrust.Middleware.Storage.SQLite.IntegrationTest/fiskaltrust.Middleware.Storage.SQLite.IntegrationTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

JournalME
  queue/src/fiskaltrust.Middleware.Storage.Azure/Mapping/Mapper.cs
  queue/src/fiskaltrust.Middleware.Storage.Azure/Repositories/DE/AzureJournalDERepository.cs
  queue/src/fiskaltrust.Middleware.Storage.Azure/Repositories/ME/AzureJournalMERepository.cs
  queue/src/fiskaltrust.Middleware.Storage.Azure/TableEntities/AzureFtJournalME.cs
  queue/src/fiskaltrust.Middleware.Storage.Azure/fiskaltrust.Middleware.Storage.Azure.csproj
  queue/src/fiskaltrust.Middleware.Storage.EF/EfStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/MiddlewareDbContext.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/Repositories/ME/EfJournalMERepository.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/fiskaltrust.Middleware.Storage.EF.csproj
  queue/src/fiskaltrust.Middleware.Storage.EFCore/MiddlewareDbContext.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore/Repositories/ME/EFCoreJournalMERepository.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore/fiskaltrust.Middleware.Storage.EFCore.csproj
  queue/src/fiskaltrust.Middleware.Storage.InMemory/Repositories/ME/InMemoryJournalMERepository.cs
  queue/src/fiskaltrust.Middleware.Storage.InMemory/fiskaltrust.Middleware.Storage.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Repositories/ME/MySQLJournalMERepository.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/fiskaltrust.Middleware.Storage.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/ME/SQLiteJournalMERepository.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/fiskaltrust.Middleware.Storage.SQLite.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Cashwithdrwal
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/CashWithdrawlReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

close pools
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Connection/SqliteConnectionFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

disable pooling
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Connection/SqliteConnectionFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

CashDepositRequest
  queue/src/fiskaltrust.Middleware.Contracts/Constants/JournalTypes.cs
  queue/src/fiskaltrust.Middleware.Contracts/Repositories/IMiddlewareRepository.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/Exceptions/CashDepositOutstandingException.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/CashDepositReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/CashWithdrawlReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/MonthlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/PosReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/YearlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/ZeroReceiptCommand.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/RequestCommandsTests/InitialOperationReceiptCommandTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/RequestCommandsTests/OutOfOperationReceiptCommandTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/RequestCommandsTests/PosReceiptCommandTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Closings
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/CashDepositReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/CashWithdrawlReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/MonthlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/YearlyClosingReceiptCommand.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/Helper/InMemoryMESSCD.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/Helper/TestHelper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/RequestCommandsTests/CashDepositReceiptCommandTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/RequestCommandsTests/CashWithdrawlReceiptCommandTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/RequestCommandsTests/MonthlyClosingReceiptCommandTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/RequestCommandsTests/OutOfOperationReceiptCommandTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/RequestCommandsTests/PosReceiptCommandTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/RequestCommandsTests/YearlyClosingReceiptCommandTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix sqlite tests
  queue/src/fiskaltrust.Middleware.Localization.QueueME/BootStrapperQueueME.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/JournalProcessorME.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Migrations/001_Init.sqlite3
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

mysql script
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Migrations/001_Init.mysql
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

local testrun fix
  queue/test/fiskaltrust.Middleware.Storage.MySQL.AcceptanceTest/MySQLAccountMasterDataRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.MySQL.AcceptanceTest/MySQLActionJournalRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.MySQL.AcceptanceTest/MySQLAgencyMasterDataRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.MySQL.AcceptanceTest/MySQLConfigurationRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.MySQL.AcceptanceTest/MySQLFailedFinishTransactionRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.MySQL.AcceptanceTest/MySQLFailedStartTransactionRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.MySQL.AcceptanceTest/MySQLJournalATRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.MySQL.AcceptanceTest/MySQLJournalDERepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.MySQL.AcceptanceTest/MySQLJournalFRRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.MySQL.AcceptanceTest/MySQLOpenTransactionRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.MySQL.AcceptanceTest/MySQLOutletMasterDataRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.MySQL.AcceptanceTest/MySQLPosSystemMasterDataRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.MySQL.AcceptanceTest/MySQLQueueItemRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.MySQL.AcceptanceTest/MySQLReceiptJournalRepositoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

sqlite multithreaded
  queue/src/fiskaltrust.Middleware.Queue.SQLite/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/MySQLBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Connection/SqliteConnectionFactory.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/fiskaltrust - Backup.Middleware.Storage.SQLite.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

reuse connection in db migration
  queue/src/fiskaltrust.Middleware.Queue.SQLite/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/DatabaseInitialization/DatabaseMigrator.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

prepare 4 subsequent booking
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/CashDepositReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/CashWithdrawlReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/MonthlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/PosReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/YearlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/ZeroReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/SignProcessorME.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/Helper/TestHelper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/RequestCommandsTests/CashDepositReceiptCommandTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/RequestCommandsTests/CashWithdrawlReceiptCommandTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/RequestCommandsTests/InitialOperationReceiptCommandTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/RequestCommandsTests/MonthlyClosingReceiptCommandTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/RequestCommandsTests/OutOfOperationReceiptCommandTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/RequestCommandsTests/PosReceiptCommandTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/RequestCommandsTests/YearlyClosingReceiptCommandTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

susbsequent booking I
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/CashDepositReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/CashWithdrawlReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/MonthlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/PosReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/YearlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/ZeroReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

test/fix with postman receipts
  queue/src/fiskaltrust.Middleware.Localization.QueueME/BootStrapperQueueME.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/Extensions/ServiceCollectionExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/JournalProcessorME.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/CashDepositReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/CashWithdrawlReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/MonthlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/PosReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/YearlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/ZeroReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/SignProcessorME.cs
  queue/src/fiskaltrust.Middleware.Queue/JournalProcessor.cs
  queue/src/fiskaltrust.Middleware.Storage.Azure/AzureStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/EfStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.PostgreSQL/EFCorePostgreSQLStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.SQLServer/EFCoreSQLServerStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.InMemory/InMemoryStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Migrations/001_Init.mysql
  queue/src/fiskaltrust.Middleware.Storage.MySQL/MySQLBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Repositories/Configuration/MySQLQueueMERepository.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Repositories/Configuration/MySQLSignaturCreationUnitMERepository.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Repositories/ME/MySQLJournalMERepository.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Migrations/001_Init.sqlite3
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/Configuration/SQLiteQueueMERepository.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/Configuration/SQLiteSignaturCreationUnitMERepository.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/ME/SQLiteJournalMERepository.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/SQLiteStorageBootstrapper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/Helper/InMemoryMESSCD.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/RequestCommandsTests/PosReceiptCommandTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/RequestCommandsTests/ZeroReceiptCommandTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/fiskaltrust.Middleware.Localization.QueueME.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

update scu config
  scu-me/src/fiskaltrust.Middleware.SCU.ME.Common/Configuration/ScuMEConfiguration.cs
  scu-me/src/fiskaltrust.Middleware.SCU.ME.Common/Helpers/SigningHelper.cs
  scu-me/src/fiskaltrust.Middleware.SCU.ME.Common/Helpers/WebProxyConverter.cs
  scu-me/src/fiskaltrust.Middleware.SCU.ME.Common/Helpers/X509Certificate2Converter.cs
  scu-me/src/fiskaltrust.Middleware.SCU.ME.Common/fiskaltrust.Middleware.SCU.ME.Common.csproj
  scu-me/src/fiskaltrust.Middleware.SCU.ME.FiscalizationService/FiscalizationServiceSCU.cs
  scu-me/src/fiskaltrust.Middleware.SCU.ME.InMemory/InMemorySCU.cs
Due: none

add some invoice fields
  scu-me/src/fiskaltrust.Middleware.SCU.ME.FiscalizationService/FiscalizationServiceSCU.cs
Due: none

change slashes
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/.nuspec
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Epson/.nuspec
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/.nuspec
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid/.nuspec
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

reset scu nuspec files
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/.nuspec
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/.nuspec
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid/.nuspec
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

fix datetime fix amount rounding
  scu-me/src/fiskaltrust.Middleware.SCU.ME.FiscalizationService/FiscalizationServiceSCU.cs
Due: none

ME Zeroreceipt subsequent booking
  queue/src/fiskaltrust.Middleware.Contracts/Constants/JournalTypes.cs
  queue/src/fiskaltrust.Middleware.Contracts/fiskaltrust.Middleware.Contracts.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueME/Exceptions/ENUValidToNotSetException.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/Models/TCR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/CashDepositReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/CashWithdrawlReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/PosReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/ZeroReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/SignProcessorME.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/fiskaltrust.Middleware.Localization.QueueME.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Program.cs
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/fiskaltrust.Middleware.Queue.Test.Launcher.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/Helper/Extensions.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/Helper/InMemoryMESSCD.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/Helper/TestHelper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/RequestCommandsTests/CashDepositReceiptCommandTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/RequestCommandsTests/CashWithdrawlReceiptCommandTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/RequestCommandsTests/MonthlyClosingReceiptCommandTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/RequestCommandsTests/OutOfOperationReceiptCommandTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/RequestCommandsTests/PosReceiptCommandTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/RequestCommandsTests/YearlyClosingReceiptCommandTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/RequestCommandsTests/ZeroReceiptCommandTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/fiskaltrust.Middleware.Localization.QueueME.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

remove Valid To
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/InitialOperationReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

update interface & Testlauncher
  scu-me/TestLauncher/Grpc/Binders/Binder.cs
  scu-me/TestLauncher/Grpc/Binders/RemoveMethodVersionPrefixBinder.cs
  scu-me/TestLauncher/Grpc/Binders/SkipNonVersionedMethodsBinder.cs
  scu-me/TestLauncher/Grpc/GrpcHelper.cs
  scu-me/TestLauncher/Grpc/GrpcHost.cs
  scu-me/TestLauncher/Grpc/Interceptors/ExceptionHandlingInterceptor.cs
  scu-me/TestLauncher/Grpc/Interceptors/ServerLoggingInterceptor.cs
  scu-me/TestLauncher/Helpers/Extensions.cs
  scu-me/TestLauncher/Helpers/HelipadHelper.cs
  scu-me/TestLauncher/Helpers/HostingHelper.cs
  scu-me/TestLauncher/Program.cs
  scu-me/TestLauncher/Wcf/Enums/DateFormat.cs
  scu-me/TestLauncher/Wcf/Formatting/ClientJsonDateFormatter.cs
  scu-me/TestLauncher/Wcf/Formatting/JsonDispatchMessageFormatter.cs
  scu-me/TestLauncher/Wcf/Formatting/RawDataWriter.cs
  scu-me/TestLauncher/Wcf/Formatting/XElementExtensions.cs
  scu-me/TestLauncher/Wcf/RestService.cs
  scu-me/TestLauncher/Wcf/WCFService.cs
  scu-me/TestLauncher/fiskaltrust.Middleware.SCU.ME.TestLauncher.csproj
  scu-me/fiskaltrust.Middleware.SCU.ME.sln
  scu-me/src/fiskaltrust.Middleware.SCU.ME.Common/fiskaltrust.Middleware.SCU.ME.Common.csproj
  scu-me/src/fiskaltrust.Middleware.SCU.ME.FiscalizationService/FiscalizationServiceSCU.cs
  scu-me/src/fiskaltrust.Middleware.SCU.ME.FiscalizationService/fiskaltrust.Middleware.SCU.ME.FiscalizationService.csproj
  scu-me/src/fiskaltrust.Middleware.SCU.ME.InMemory/InMemorySCU.cs
  scu-me/src/fiskaltrust.Middleware.SCU.ME.InMemory/fiskaltrust.Middleware.SCU.ME.InMemory.csproj
  scu-me/test/fiskaltrust.Middleware.SCU.ME.FiscalizationService.UnitTest/FiscalizationServiceSCUTests.cs
  scu-me/test/fiskaltrust.Middleware.SCU.ME.FiscalizationService.UnitTest/fiskaltrust.Middleware.SCU.ME.FiscalizationService.UnitTest.csproj
  scu-me/test/fiskaltrust.Middleware.SCU.ME.InMemory.UnitTest/fiskaltrust.Middleware.SCU.ME.InMemory.UnitTest.csproj
Due: none

remove 'additionalData'
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/Commands/InputCommands.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/CryptoVisionSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/Interop/File/CryptoVisionFileProxy.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/Interop/ICryptoVisionProxy.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

update config
  scu-me/src/fiskaltrust.Middleware.SCU.ME.Common/Helpers/X509Certificate2Converter.cs
  scu-me/src/fiskaltrust.Middleware.SCU.ME.FiscalizationService/FiscalizationServiceSCU.cs
  scu-me/src/fiskaltrust.Middleware.SCU.ME.InMemory/InMemorySCU.cs
  scu-me/test/Directory.Build.props
  scu-me/test/fiskaltrust.Middleware.SCU.ME.FiscalizationService.UnitTest/FiscalizationServiceSCUTests.cs
  scu-me/test/fiskaltrust.Middleware.SCU.ME.InMemory.UnitTest/InMemorySCUTests.cs
Due: none

Call OnMessage when sign finished
  queue/src/fiskaltrust.Middleware.Contracts/Models/MiddlewareConfiguration.cs
  queue/src/fiskaltrust.Middleware.Queue/Bootstrapper/QueueBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue/Models/ReceiptProcessedMessage.cs
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Add ftQueueItem instead of receipt and response
  queue/src/fiskaltrust.Middleware.Queue/Models/ReceiptProcessedMessage.cs
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
