Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

azure-pipelines/fiskaltrust.Middleware.Queue.yml:

resources:
- repo: self

trigger:
  batch: true
  branches:
    include:
    - main
    - refs/tags/queue/*
  paths:
    include:
      - queue

pr: none

variables:
- group: 'Code Signing Certificates'
- group: 'Middleware Tests'
- name: BuildConfiguration
  value: release
- name: Solution
  value: 'fiskaltrust.Middleware.sln'
- name: WorkingDirectory
  value: 'queue'
- name: vmImageName 
  value: 'windows-2022'

jobs:  
- job: Test
  displayName: Unit and integration tests
  pool:
    vmImage: $(vmImageName)
  steps:
  - template: templates/queue/test.template.yml

- job: AcceptanceTest
  dependsOn: Test
  displayName: Acceptance tests
  condition: and(succeeded(), or(eq(variables['Build.SourceBranch'], 'refs/heads/main'), startsWith(variables['Build.SourceBranch'], 'refs/tags/queue/')))
  pool:
    vmImage: $(vmImageName)
  strategy:
    maxParallel: 4
    matrix: 
      EFQueue:
        Project: 'fiskaltrust.Middleware.Storage.EF.AcceptanceTest'
      EFCoreQueue:
        Project: 'fiskaltrust.Middleware.Storage.EFCore.AcceptanceTest'
      SQLiteQueue:
        Project: 'fiskaltrust.Middleware.Storage.SQLite.AcceptanceTest'
      MySQLQueue:
        Project: 'fiskaltrust.Middleware.Storage.MySQL.AcceptanceTest'
      InMemoryQueue:
        Project: 'fiskaltrust.Middleware.Storage.InMemory.AcceptanceTest'
      QueueSynchronizer:
        Project: 'fiskaltrust.Middleware.QueueSynchronizer.AcceptanceTest'
      Queue:
        Project: 'fiskaltrust.Middleware.Queue.AcceptanceTest'
  steps:
  - template: templates/queue/acceptance-test.template.yml

- job: BuildNugetPackages
  displayName: Build v1 NuGet packages
  dependsOn: 
  - Test
  - AcceptanceTest
  condition: and(eq(dependencies.Test.result, 'Succeeded'), in(dependencies.AcceptanceTest.result, 'Succeeded', 'Skipped'))
  pool:
    vmImage: $(vmImageName)
  steps:
  - template: templates/queue/build-nuget.template.yml

- job: BuildZipPackages
  displayName: Build v2 zip packages
  dependsOn: 
  - Test
  - AcceptanceTest
  condition: and(eq(dependencies.Test.result, 'Succeeded'), in(dependencies.AcceptanceTest.result, 'Succeeded', 'Skipped'))
  pool:
    vmImage: $(vmImageName)
  steps:
  - template: templates/queue/build-zip.template.yml

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:

resources:
- repo: self

trigger:
  batch: true
  branches:
    include:
    - main
    - refs/tags/scu-de/*
  paths:
    include:
      - scu-de

pr:
  branches:
    include:
    - main
    - refs/tags/scu-de/*
  paths:
    include:
      - scu-de

variables:
- group: 'Code Signing Certificates'
- name: BuildConfiguration
  value: release
- name: Solution
  value: 'fiskaltrust.Middleware.SCU.DE.sln'
- name: vmImageName 
  value: 'windows-2022'
- name: WorkingDirectory
  value: 'scu-de'

jobs:  
- job: Test
  displayName: Unit and integration tests
  pool:
    vmImage: $(vmImageName)
  steps:
  - template: templates/scu-de/test.template.yml

- job: BuildNugetPackages
  displayName: Build v1 NuGet packages
  dependsOn: 
  - Test
  condition: succeeded()
  pool:
    vmImage: $(vmImageName)
  steps:
  - template: templates/scu-de/build-nuget.template.yml

- job: BuildZipPackages
  displayName: Build v2 zip packages
  dependsOn: 
  - Test
  condition: succeeded()
  pool:
    vmImage: $(vmImageName)
  steps:
  - template: templates/scu-de/build-zip.template.yml

Testlauncher config
  scu-me/TestLauncher/Program.cs
Due: none

correct tin
  scu-me/TestLauncher/Program.cs
Due: none

move launcher add cert fields
  scu-me/fiskaltrust.Middleware.SCU.ME.sln
  scu-me/test/TestLauncher/Grpc/Binders/Binder.cs
  scu-me/test/TestLauncher/Grpc/Binders/RemoveMethodVersionPrefixBinder.cs
  scu-me/test/TestLauncher/Grpc/Binders/SkipNonVersionedMethodsBinder.cs
  scu-me/test/TestLauncher/Grpc/GrpcHelper.cs
  scu-me/test/TestLauncher/Grpc/GrpcHost.cs
  scu-me/test/TestLauncher/Grpc/Interceptors/ExceptionHandlingInterceptor.cs
  scu-me/test/TestLauncher/Grpc/Interceptors/ServerLoggingInterceptor.cs
  scu-me/test/TestLauncher/Helpers/Extensions.cs
  scu-me/test/TestLauncher/Helpers/HelipadHelper.cs
  scu-me/test/TestLauncher/Helpers/HostingHelper.cs
  scu-me/test/TestLauncher/Program.cs
  scu-me/test/TestLauncher/Wcf/Enums/DateFormat.cs
  scu-me/test/TestLauncher/Wcf/Formatting/ClientJsonDateFormatter.cs
  scu-me/test/TestLauncher/Wcf/Formatting/JsonDispatchMessageFormatter.cs
  scu-me/test/TestLauncher/Wcf/Formatting/RawDataWriter.cs
  scu-me/test/TestLauncher/Wcf/Formatting/XElementExtensions.cs
  scu-me/test/TestLauncher/Wcf/RestService.cs
  scu-me/test/TestLauncher/Wcf/WCFService.cs
  scu-me/test/TestLauncher/fiskaltrust.Middleware.SCU.ME.TestLauncher.csproj
Due: none

fixes
  queue/src/fiskaltrust.Middleware.Localization.QueueME/Models/TCR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/CashDepositReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/fiskaltrust.Middleware.Localization.QueueME.csproj
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Helpers/MESSCDClientFactory.cs
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Program.cs
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/fiskaltrust.Middleware.Queue.Test.Launcher.csproj
  scu-me/src/fiskaltrust.Middleware.SCU.ME.Common/fiskaltrust.Middleware.SCU.ME.Common.csproj
  scu-me/src/fiskaltrust.Middleware.SCU.ME.FiscalizationService/FiscalizationServiceSCU.cs
  scu-me/src/fiskaltrust.Middleware.SCU.ME.FiscalizationService/Helpers/DateTimeBehavior.cs
  scu-me/src/fiskaltrust.Middleware.SCU.ME.FiscalizationService/fiskaltrust.Middleware.SCU.ME.FiscalizationService.csproj
  scu-me/src/fiskaltrust.Middleware.SCU.ME.InMemory/fiskaltrust.Middleware.SCU.ME.InMemory.csproj
  scu-me/test/Directory.Build.props
  scu-me/test/TestLauncher/Program.cs
  scu-me/test/TestLauncher/fiskaltrust.Middleware.SCU.ME.TestLauncher.csproj
  scu-me/test/fiskaltrust.Middleware.SCU.ME.FiscalizationService.UnitTest/fiskaltrust.Middleware.SCU.ME.FiscalizationService.UnitTest.csproj
  scu-me/test/fiskaltrust.Middleware.SCU.ME.InMemory.UnitTest/fiskaltrust.Middleware.SCU.ME.InMemory.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Add e-receipt link when config flag is set
  queue/src/fiskaltrust.Middleware.Contracts/Models/MiddlewareConfiguration.cs
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
  queue/src/fiskaltrust.Middleware.Queue/SignatureFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Parse MW config correctly
  queue/src/fiskaltrust.Middleware.Contracts/Models/MiddlewareConfiguration.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/QueueDEConfiguration.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Queue/Bootstrapper/QueueBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue/Extensions/DictionaryExtensions.cs
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
  queue/src/fiskaltrust.Middleware.Storage.Azure/fiskaltrust.Middleware.Storage.Azure.csproj
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/fiskaltrust.Middleware.Queue.Test.Launcher.csproj
  queue/test/fiskaltrust.Middleware.Queue.FunctionalTest/fiskaltrust.Middleware.Queue.FunctionalTest.csproj
  queue/test/fiskaltrust.Middleware.Storage.MySQL.IntegrationTest/fiskaltrust.Middleware.Storage.MySQL.IntegrationTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update DeutscheFiskalSCUConfiguration.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCUConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Temporary use German QR code sig
  queue/src/fiskaltrust.Middleware.Queue/SignatureFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Temporary commented out OnMessage
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update DSFinV-K package to 1.4.0
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/fiskaltrust.Middleware.Localization.QueueDE.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/fiskaltrust.Middleware.Queue.PostgreSQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/.nuspec
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Incremented versions
  queue/src/fiskaltrust.Middleware.Queue.EF/version.json
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
  queue/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

scu invoice end2end I
  queue/src/fiskaltrust.Middleware.Localization.QueueME/Extensions/ChargeItemExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/Extensions/PayItemExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/CashDepositReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/PosReceiptCommand.cs
  scu-me/src/fiskaltrust.Middleware.SCU.ME.Common/Helpers/SigningHelper.cs
  scu-me/src/fiskaltrust.Middleware.SCU.ME.FiscalizationService/FiscalizationServiceSCU.cs
  scu-me/src/fiskaltrust.Middleware.SCU.ME.FiscalizationService/Helpers/FormatBehavior.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

update versions
  queue/src/fiskaltrust.Middleware.Contracts/fiskaltrust.Middleware.Contracts.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/fiskaltrust.Middleware.Localization.QueueDE.csproj
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/fiskaltrust.Middleware.Queue.AzureTableStorage.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
  queue/src/fiskaltrust.Middleware.Queue/fiskaltrust.Middleware.Queue.csproj
  queue/test/Directory.Build.props
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/fiskaltrust.Middleware.Localization.QueueME.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Queue.FunctionalTest/fiskaltrust.Middleware.Queue.FunctionalTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

no warnin NU1605
  queue/src/fiskaltrust.Middleware.Contracts/fiskaltrust.Middleware.Contracts.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/fiskaltrust.Middleware.Localization.QueueDE.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueME/fiskaltrust.Middleware.Localization.QueueME.csproj
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/fiskaltrust.Middleware.Queue.AzureTableStorage.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue/fiskaltrust.Middleware.Queue.csproj
  queue/test/Directory.Build.props
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/fiskaltrust.Middleware.Queue.Test.Launcher.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/fiskaltrust.Middleware.Localization.QueueME.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Queue.FunctionalTest/fiskaltrust.Middleware.Queue.FunctionalTest.csproj
  queue/test/fiskaltrust.Middleware.Storage.EFCore.AcceptanceTest/fiskaltrust.Middleware.Storage.EFCore.AcceptanceTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix tests
  queue/src/fiskaltrust.Middleware.Localization.QueueME/BootStrapperQueueME.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/fiskaltrust.Middleware.Localization.QueueME.csproj
  queue/src/fiskaltrust.Middleware.Queue/JournalProcessor.cs
  queue/test/fiskaltrust.Middleware.Queue.InMemory.IntegrationTest/PosBootstrapperTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added project structure for AT
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/Extensions/QueueExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/JournalProcessorDE.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/Models/RequestCommandResponse.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/QueueATBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/QueueATConfiguration.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/DisabledQueueReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/Factories/IRequestCommandFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/Factories/RequestCommandFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/HandwrittenReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/MonthlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/NormalReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/SSCDFailedReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/UsedFailedReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/YearlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/ZeroReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/SignProcessorAT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/fiskaltrust.Middleware.Localization.QueueAT.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed build
  queue/src/fiskaltrust.Middleware.Storage.Azure/fiskaltrust.Middleware.Storage.Azure.csproj
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/fiskaltrust.Middleware.Queue.Test.Launcher.csproj
  queue/test/fiskaltrust.Middleware.Queue.FunctionalTest/fiskaltrust.Middleware.Queue.FunctionalTest.csproj
  queue/test/fiskaltrust.Middleware.Storage.MySQL.IntegrationTest/fiskaltrust.Middleware.Storage.MySQL.IntegrationTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added SSCD provider
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/QueueATConfiguration.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/Services/ATSSCDProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/Services/IATSSCDProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/fiskaltrust.Middleware.Localization.QueueAT.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

ef migration
  queue/src/fiskaltrust.Middleware.Storage.EF/Migrations/202003010845405_InitialCreate.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

try set & unset auto migration
  queue/src/fiskaltrust.Middleware.Storage.EF/EfStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/Migrations/202003010845405_InitialCreate.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

set AutomaticMigrations false again
  queue/src/fiskaltrust.Middleware.Storage.EF/EfStorageBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

split create for mysql & sqlite, create sript for ef
  queue/src/fiskaltrust.Middleware.Storage.EF/Migrations/202003010845405_InitialCreate.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/Migrations/202206070811002_QueueME.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Migrations/001_Init.mysql
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Migrations/005_InitME.mysql
  queue/src/fiskaltrust.Middleware.Storage.MySQL/fiskaltrust.Middleware.Storage.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Migrations/001_Init.sqlite3
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Migrations/008_QueueME.sqlite3
  queue/src/fiskaltrust.Middleware.Storage.SQLite/fiskaltrust.Middleware.Storage.SQLite.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added ME migration for PostgreSQL
  queue/src/fiskaltrust.Middleware.Storage.EFCore.PostgreSQL/Migrations/20220607123432_QueueME.Designer.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.PostgreSQL/Migrations/20220607123432_QueueME.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.PostgreSQL/PostgreSQLMiddlewareDbContext.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add ef objects
  queue/src/fiskaltrust.Middleware.Storage.EF/MiddlewareDbContext.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/Migrations/202206070811002_QueueME.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/Migrations/202206090537399_QueueME.Designer.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/Migrations/202206090537399_QueueME.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/Migrations/202206090537399_QueueME.resx
  queue/src/fiskaltrust.Middleware.Storage.EFCore.PostgreSQL/Migrations/20220609054218_QueueME.Designer.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.PostgreSQL/Migrations/20220609054218_QueueME.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.PostgreSQL/Migrations/PostgreSQLMiddlewareDbContextModelSnapshot.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.PostgreSQL/PostgreSQLMiddlewareDbContext.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.SQLServer/Migrations/20220609054503_QueueME.Designer.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.SQLServer/Migrations/20220609054503_QueueME.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.SQLServer/SQLServerMiddlewareDbContext.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add directory build to common
  scu-me/src/fiskaltrust.Middleware.SCU.ME.Common/Directory.Build.props
Due: none

version
  scu-me/src/fiskaltrust.Middleware.SCU.ME.Common/Directory.Build.props
Due: none

change Version mismatch
  scu-me/Directory.Build.props
  scu-me/src/fiskaltrust.Middleware.SCU.ME.Common/Directory.Build.props
Due: none

add version json files
  scu-me/src/fiskaltrust.Middleware.SCU.ME.FiscalizationService/version.json
  scu-me/src/fiskaltrust.Middleware.SCU.ME.InMemory/version.json
Due: none

readd common
  scu-me/src/fiskaltrust.Middleware.SCU.ME.Common/Directory.Build.props
  scu-me/src/fiskaltrust.Middleware.SCU.ME.InMemory/fiskaltrust.Middleware.SCU.ME.InMemory.csproj
Due: none

readd common
  scu-me/src/fiskaltrust.Middleware.SCU.ME.FiscalizationService/fiskaltrust.Middleware.SCU.ME.FiscalizationService.csproj
Due: none

change nuget template to fiscalization
  azure-pipelines/templates/scu-me/build-nuget.template.yml
  scu-me/Directory.Build.props
  scu-me/src/fiskaltrust.Middleware.SCU.ME.FiscalizationService/fiskaltrust.Middleware.SCU.ME.FiscalizationService.csproj
Due: none

remove impl using
  scu-me/src/fiskaltrust.Middleware.SCU.ME.Common/fiskaltrust.Middleware.SCU.ME.Common.csproj
Due: none

add licence prop to common
  scu-me/src/fiskaltrust.Middleware.SCU.ME.Common/fiskaltrust.Middleware.SCU.ME.Common.csproj
  scu-me/src/fiskaltrust.Middleware.SCU.ME.FiscalizationService/fiskaltrust.Middleware.SCU.ME.FiscalizationService.csproj
Due: none

add privateassets
  scu-me/src/fiskaltrust.Middleware.SCU.ME.InMemory/fiskaltrust.Middleware.SCU.ME.InMemory.csproj
Due: none

readd inmemory scu
  azure-pipelines/templates/scu-me/build-nuget.template.yml
Due: none

add fiscalizationservice scu package v2
  azure-pipelines/templates/scu-me/build-zip.template.yml
Due: none

PrivateAssets
  scu-me/src/fiskaltrust.Middleware.SCU.ME.FiscalizationService/fiskaltrust.Middleware.SCU.ME.FiscalizationService.csproj
Due: none

Cryptography PrivateAssets
  scu-me/src/fiskaltrust.Middleware.SCU.ME.FiscalizationService/fiskaltrust.Middleware.SCU.ME.FiscalizationService.csproj
Due: none

unit test assets
  scu-me/test/fiskaltrust.Middleware.SCU.ME.FiscalizationService.UnitTest/fiskaltrust.Middleware.SCU.ME.FiscalizationService.UnitTest.csproj
  scu-me/test/fiskaltrust.Middleware.SCU.ME.InMemory.UnitTest/fiskaltrust.Middleware.SCU.ME.InMemory.UnitTest.csproj
Due: none
