Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de

refactor
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix compression
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

remove unused usings
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

use only seconds 2 calc split
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Communication/FccAdminApiProvider.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

refactor localized bootstrapper
  queue/src/fiskaltrust.Middleware.Contracts/ILocalizedQueueBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Contracts/fiskaltrust.Middleware.Contracts.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/BootStrapperQueueDE.cs
  queue/src/fiskaltrust.Middleware.Queue/Bootstrapper/LocalizedQueueBootStrapperFactory.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.UnitTest/QueueDEBootStrapperUnitTests.cs
  queue/test/fiskaltrust.Middleware.Queue.InMemory.IntegrationTest/PosBootstrapperTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Updated versions to 1.3.29
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloud/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Rename nuget artifacts
  azure-pipelines/templates/scu-de/build-nuget.template.yml
Due: none

fix tests
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.UnitTest/QueueDEBootStrapperUnitTests.cs
  queue/test/fiskaltrust.Middleware.Queue.AcceptanceTest/QueueBootstrapperUnitTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

print Warning
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/PosReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fixes and zip file compatibility
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Services/ITarFileCleanupService.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Services/TarFileCleanupService.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

change startup implementation
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Services/ITarFileCleanupService.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Services/TarFileCleanupService.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/SignProcessorDE.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/fiskaltrust.Middleware.Localization.QueueDE.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/JournalProcessorDETests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Closings/DailyClosingTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Helpers/RequestCommandFactoryHelper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.UnitTest/JournalProcessorDEUnitTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

change startup implementation. add tests.
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/BootStrapperQueueDE.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Services/ITarFileCleanupService.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Services/TarFileCleanupService.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/SignProcessorDE.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Closings/DailyClosingTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Helpers/RequestCommandFactoryHelper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Services/TarFileCleanupTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix tests
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Services/TarFileCleanupTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add IMiddlewareJournalDERepository to service collection
  queue/src/fiskaltrust.Middleware.Storage.Azure/AzureStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.Azure/Repositories/DE/AzureJournalDERepository.cs
  queue/src/fiskaltrust.Middleware.Storage.InMemory/InMemoryStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/MySQLBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/SQLiteStorageBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix tests. update service collections.
  queue/src/fiskaltrust.Middleware.Storage.Azure/AzureStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.InMemory/InMemoryStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/MySQLBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/SQLiteStorageBootstrapper.cs
  queue/test/fiskaltrust.Middleware.Queue.InMemory.IntegrationTest/PosBootstrapperTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

nullcheck
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Extensions/ReceiptRequestExtensions.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

format check Amount for null
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Extensions/ReceiptRequestExtensions.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update queue/src/fiskaltrust.Middleware.Localization.QueueDE/Services/TarFileCleanupService.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Services/TarFileCleanupService.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

dont do equality check if storeTemporaryExportFiles is enabled
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Services/TarFileCleanupService.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

use ExportMore DataOn Timeout
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/Commands/AdditionalCommands.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/CryptoVisionSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/Interop/File/CryptoVisionFileProxy.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/Interop/ICryptoVisionProxy.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

CalcMaxNumberOfRecords
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/CryptoVisionSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Update queue/src/fiskaltrust.Middleware.Localization.QueueDE/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Extensions/ReceiptRequestExtensions.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

consider negative quantity
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Extensions/ReceiptRequestExtensions.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add abstraction
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/BootStrapperQueueDE.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/QueueDEConfiguration.cs
  queue/src/fiskaltrust.Middleware.Queue.EF/EFQueueConfiguration.cs
  queue/src/fiskaltrust.Middleware.Queue.EF/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue.MySQL/MySQLQueueConfiguration.cs
  queue/src/fiskaltrust.Middleware.Queue.MySQL/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/PostgreSQLQueueConfiguration.cs
  queue/src/fiskaltrust.Middleware.Queue.SQLite/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue.SQLite/SQLiteQueueConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add queues
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/BootStrapperQueueDE.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Constants/ConfigurationKeys.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/QueueDEConfiguration.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Services/DESSCDProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Services/TarFileCleanupService.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/SignatureFactoryDE.cs
  queue/src/fiskaltrust.Middleware.Queue.EF/EFQueueConfiguration.cs
  queue/src/fiskaltrust.Middleware.Queue.EF/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue.MySQL/MySQLQueueConfiguration.cs
  queue/src/fiskaltrust.Middleware.Queue.MySQL/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/PostgreSQLQueueConfiguration.cs
  queue/src/fiskaltrust.Middleware.Queue.SQLite/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue.SQLite/SQLiteQueueConfiguration.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Closings/DailyClosingTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Fixtures/SignProcessorDependenciesFixture.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Helpers/RequestCommandFactoryHelper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/InitiateScuSwitchTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/OrderTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/OutOfOperationTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/PosReceiptTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/ZeroReceiptTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Services/TarFileCleanupTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.UnitTest/QueueDEBootStrapperUnitTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.UnitTest/SignProcessorDEUnitTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.UnitTest/SignatureFactoryTests.cs
  queue/test/fiskaltrust.Middleware.Queue.AcceptanceTest/QueueBootstrapperUnitTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add enabletarfileexport config parameter
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/QueueDEConfiguration.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/ClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/DailyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/DeltaTransactionReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/DisabledQueueReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/DisabledScuReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/FailTransactionReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/FinishScuSwitchReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/HandwrittenReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/InitiateScuSwitchReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/MonthlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/OrderReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/OtherReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/PosReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/SSCDFailedReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/StartTransactionReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/UpdateTransactionReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/UsedFailedReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/YearlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/ZeroReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix test
  queue/test/fiskaltrust.Middleware.Queue.InMemory.IntegrationTest/PosBootstrapperTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

data fragmentation fix - read 2 end
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/Interop/File/MassStorageClassTransportAdapter.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

add di registration
  queue/src/fiskaltrust.Middleware.Storage.EF/EfStorageBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed TAR file merge
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Communication/FccAdminApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Helpers/TarHelper.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal.IntegrationTest/DeutscheFiskalFixture.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.SwissbitCloud.IntegrationTest/SwissbitCloudFixture.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

fix export
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/Interop/File/MassStorageClassTransportAdapter.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Moved TarHelper to common place
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Communication/FccAdminApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Helpers.TLVLogParser/Tar/TarFileHelper.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

remove SplitExport guid
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Communication/FccAdminApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

add connection string
  queue/src/fiskaltrust.Middleware.Queue.EF/EFQueueConfiguration.cs
  queue/src/fiskaltrust.Middleware.Queue.EF/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue.MySQL/MySQLQueueConfiguration.cs
  queue/src/fiskaltrust.Middleware.Queue.MySQL/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/PostgreSQLQueueConfiguration.cs
  queue/src/fiskaltrust.Middleware.Queue.SQLite/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue.SQLite/SQLiteQueueConfiguration.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/EFStorageConfiguration.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/EfStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.PostgreSQL/EFCorePostgreSQLStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.PostgreSQL/PostgreSQLStorageConfiguration.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/MySQLBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/MySQLStorageConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix tests
  queue/src/fiskaltrust.Middleware.Queue.EF/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue.SQLite/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/EFStorageConfiguration.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/EfStorageBootstrapper.cs
  queue/test/fiskaltrust.Middleware.Storage.EF.IntegrationTest/EfStorageBootstrapperTests.cs
  queue/test/fiskaltrust.Middleware.Storage.MySQL.IntegrationTest/MySQLStorageBoostrapperTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

migrate smoketests
  azure-pipelines/fiskaltrust.Middleware.SmokeTests.yaml
  azure-pipelines/templates/post/fiskalycertified.yaml
  azure-pipelines/templates/post/swissbitcloud.yaml
  azure-pipelines/templates/pre/fiskalycertified.yaml
  azure-pipelines/templates/pre/swissbitcloud.yaml
  azure-pipelines/templates/smoke-test.yaml
  azure-pipelines/templates/test.yaml
Due: none

include Tarhelper, reinitialize after Exception
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/Commands/AdditionalCommands.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/CryptoVisionSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/Interop/File/CryptoVisionFileProxy.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/Interop/ICryptoVisionProxy.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Update fiskaltrust.Middleware.SmokeTests.yaml for Azure Pipelines
  azure-pipelines/fiskaltrust.Middleware.SmokeTests.yaml
Due: none
